factory.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.e25e8372"
factory.pidList=["org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.e25e8372.2d23e5a9-6bdf-4608-bf7d-09e84921978f"]
