service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.6c10e423-1ff5-48b5-96ce-6fefae010b54"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.name="undo+dbpedia-disambiguation"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-chunker","undo-km","dbpedia-disamb-linking","dbpedia-dereference","disambiguation-mlt"]
