service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71-2900-450e-b80f-407f3747c69b"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.name="undo+dbpedia-fst-linking"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","undo-km","dbpedia-fst","dbpedia-dereference"]
