service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.7b3fc31b-e682-46a9-9f6c-ec4974ef09c0"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.name="undo-plain"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","undo-km"]
