service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.d52e484d-ae07-40e5-afbe-723558e6be5a"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.name="undo+dbpedia-proper-noun"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","undo-km","dbpedia-proper-noun-extraction","dbpedia-dereference"]
