service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.e25e8372-42e6-4499-84bb-0f35afe51841"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.name="undo+dbpedia-named-entity-linking"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","dbpediaLinking","undo-km"]
