factory.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
factory.pidList=["org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71-2900-450e-b80f-407f3747c69b","org.apache.stanbol.enhancer.chain.list.impl.ListChain.7b3fc31b-e682-46a9-9f6c-ec4974ef09c0","org.apache.stanbol.enhancer.chain.list.impl.ListChain.d52e484d-ae07-40e5-afbe-723558e6be5a","org.apache.stanbol.enhancer.chain.list.impl.ListChain.6c10e423-1ff5-48b5-96ce-6fefae010b54","org.apache.stanbol.enhancer.chain.list.impl.ListChain.e25e8372-42e6-4499-84bb-0f35afe51841"]
