org.apache.stanbol.enhancer.chain.list.impl.ListChain.e25e8372-42e6-4499-84bb-0f35afe51841="slinginstall:org.apache.stanbol.enhancer.chain.list-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.87e39c67-7e82-424e-b341-960c689a1cfc="slinginstall:org.apache.stanbol.entityhub.yard.solr-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.core.site.CacheImpl.0619de13-548c-4a12-9da2-5293c0809721="slinginstall:org.apache.stanbol.entityhub.core-1.0.1-SNAPSHOT.jar"
org.apache.felix.eventadmin.impl.EventAdmin="slinginstall:org.apache.felix.eventadmin-1.4.2.jar"
org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.3f3f271b-30d3-4bfe-8d2b-7e60257e8700="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.f1d370fa-234b-4f86-bcc0-410e89e7d86a="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b63bfb40-aee1-4150-8a7b-72493df21ebe="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.site.referencedSite.4f1cf692-cd9e-42cb-82b3-298f5ecabdb9="slinginstall:org.apache.stanbol.entityhub.core-1.0.1-SNAPSHOT.jar"
org.apache.sling.commons.log.LogManager.factory.config.b5c9bb9e-a08f-4e16-a773-ff1001592e41="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71-2900-450e-b80f-407f3747c69b="slinginstall:org.apache.stanbol.enhancer.chain.list-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.0eec20ed-761c-4160-8d13-6e6600ffa6bc="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.list.impl.ListChain.d52e484d-ae07-40e5-afbe-723558e6be5a="slinginstall:org.apache.stanbol.enhancer.chain.list-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.list.impl.ListChain.6c10e423-1ff5-48b5-96ce-6fefae010b54="slinginstall:org.apache.stanbol.enhancer.chain.list-1.0.1-SNAPSHOT.jar"
org.apache.sling.commons.log.LogManager.factory.config.0a3ff2b4-d2ec-4f0f-afbc-3348bb7852b7="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
org.apache.stanbol.enhancer.chain.list.impl.ListChain.7b3fc31b-e682-46a9-9f6c-ec4974ef09c0="slinginstall:org.apache.stanbol.enhancer.chain.list-1.0.1-SNAPSHOT.jar"
org.apache.clerezza.rdf.core.serializedform.Serializer="slinginstall:rdf.core-1.0.1.jar"
org.apache.stanbol.enhancer.engines.lucenefstlinking.FstLinkingEngineComponent.84458a27-a8d0-41df-a7ed-10e15d36b390="slinginstall:org.apache.stanbol.enhancer.engines.lucenefstlinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.1e50ab89-aa3d-4a54-94a0-a840c9cea244="slinginstall:org.apache.stanbol.entityhub.yard.solr-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.bf7c17ee-c98c-4cb7-aa9f-47e24f730534="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.3fc0e4da-220a-498e-92d4-2de9b4c1c74e="slinginstall:org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene-1.0.1-SNAPSHOT.jar"
org.apache.sling.commons.log.LogManager.factory.config.3a5e2c71-af30-4792-9c3c-3407a898a505="slinginstall:org.apache.sling.commons.log-4.0.6.jar"
org.apache.stanbol.commons.solr.managed.impl.ManagedSolrServerImpl.48b4b33b-63d4-49be-b848-361c85112b5f="slinginstall:org.apache.stanbol.commons.solr.managed-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.084ac216-530f-40e5-b2c7-9260790e6ddd="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.54fda72d-7f5e-44d0-890d-ba423c3bb803="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.site.referencedSite.67c75acb-a975-4372-83f5-354cf37ad6bd="slinginstall:org.apache.stanbol.entityhub.core-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.dereference.entityhub.EntityhubDereferenceEngine.ca5d589f-f76c-4f1f-a9fa-06910ed1dd8b="slinginstall:org.apache.stanbol.enhancer.engines.dereference.entityhub-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.99fd1493-0581-4686-b62c-c4aed88a6eb8="slinginstall:org.apache.stanbol.enhancer.engines.entityhublinking-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.core.impl.EntityhubConfigurationImpl="slinginstall:org.apache.stanbol.entityhub.core-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.allactive.impl.DefaultChain="slinginstall:org.apache.stanbol.enhancer.chain.allactive-1.0.1-SNAPSHOT.jar"
org.apache.clerezza.rdf.core.serializedform.Parser="slinginstall:rdf.core-1.0.1.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b06788c8-4692-4084-b35b-0e413e9f3aef="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entitytagging.impl.NamedEntityTaggingEngine.58f37329-eb44-4316-8202-ec6648654e21="slinginstall:org.apache.stanbol.enhancer.engine.entitytagging-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b21d6267-1830-4ddc-9f77-71fbd7d1c5e9="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.8073c15c-206a-4f1a-a658-1e9e5870c310="slinginstall:org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.220a6628-2cac-4932-950f-f078be4fdcc7="slinginstall:org.apache.stanbol.enhancer.chain.weighted-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.core.site.CacheImpl.9e79f786-7b9a-4a4d-a21e-54a2a24de452="slinginstall:org.apache.stanbol.entityhub.core-1.0.1-SNAPSHOT.jar"
org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.e7a17313-320a-4ca6-b706-622fcc632359="slinginstall:org.apache.stanbol.entityhub.yard.solr-1.0.1-SNAPSHOT.jar"
