factory.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.6c10e423"
factory.pidList=["org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.6c10e423.9b4f5cf9-c01b-4778-9c22-5623c61413ea"]
