enhancer.engines.linking.dereferenceFields=["rdfs:comment","geo:lat","geo:long","foaf:depiction","dbp-ont:thumbnail"]
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.54fda72d"
enhancer.engines.linking.caseSensitive=B"false"
enhancer.engines.linking.entityTypes=[""]
enhancer.engines.linking.includeSimilarScore=B"false"
enhancer.engines.linking.entityhub.siteId="km"
enhancer.engines.linking.labelField="rdfs:label"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.typeField="rdf:type"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.54fda72d.6ac0f848-a438-4b28-8b9b-3ca345cb9032"
enhancer.engines.linking.defaultMatchingLanguage=""
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.dereference=B"false"
stanbol.enhancer.engine.name="undo-km1"
enhancer.engines.linking.redirectMode="IGNORE"
enhancer.engines.linking.typeMappings=["dbp-ont:Organisation;\ dbp-ont:Newspaper;\ schema:Organization\ >\ dbp-ont:Organisation","dbp-ont:Person;\ foaf:Person;\ schema:Person\ >\ dbp-ont:Person","dbp-ont:Place;\ schema:Place\ >\ dbp-ont:Place","dbp-ont:Work;\ schema:CreativeWork\ >\ dbp-ont:Work","dbp-ont:Event;\ schema:Event\ >\ dbp-ont:Event","schema:Product\ >\ schema:Product","skos:Concept\ >\ skos:Concept"]
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prob\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.minTokenScore=F"1060320051"
enhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
