service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7b3fc31b.4ba80d90-c0ec-449a-a6d1-e1bbc4a4162f"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7b3fc31b"
stanbol.enhancer.chain.name="undo-plain"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","undo-km"]
