service.pid="org.apache.stanbol.commons.solr.managed.impl.ManagedSolrServerImpl.48b4b33b-63d4-49be-b848-361c85112b5f"
service.ranking=I"2147483647"
org.apache.solr.core.CoreContainer.name="default"
org.apache.solr.core.CoreContainer.publishREST=B"true"
service.factoryPid="org.apache.stanbol.commons.solr.managed.impl.ManagedSolrServerImpl"
