# Configuration created by Apache Sling File Installer
stanbol.enhancer.chain.chainproperties=[""]
stanbol.enhancer.chain.name="undo+dbpedia-named-entity-linking"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","dbpediaLinking","undo-km"]
