service.ranking=I"0"
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
enhancer.engines.linking.caseSensitive=B"true"
enhancer.engines.linking.entityhub.siteId="entityhub"
enhancer.engines.linking.labelField="rdfs:label"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.typeField="rdf:type"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.3f3f271b-30d3-4bfe-8d2b-7e60257e8700"
enhancer.engines.linking.defaultMatchingLanguage=""
enhancer.engines.linking.properNounsState=B"false"
enhancer.engines.linking.dereference=B"false"
stanbol.enhancer.engine.name="entityhubExtraction"
enhancer.engines.linking.redirectMode="IGNORE"
enhancer.engines.linking.typeMappings=[""]
enhancer.engines.linking.minTokenScore="0.75"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH"]
enhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
