enhancer.engines.linking.defaultMatchingLanguage="en"
enhancer.engines.linking.redirectField="rdfs:seeAlso"
enhancer.engines.linking.typeMappings=[""]
enhancer.engines.linking.redirectMode="FOLLOW"
service.factoryPid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
enhancer.engines.linking.processedLanguages=["*;lmmtip;uc\=LINK;prop\=0.75;pprob\=0.75","de;uc\=MATCH","es;lc\=Noun","nl;lc\=Noun"]
enhancer.engines.linking.dereference=B"false"
stanbol.enhancer.engine.name="dbpedia-proper-noun-extraction"
enhancer.engines.linking.labelField="rdfs:label"
service.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.f1d370fa-234b-4f86-bcc0-410e89e7d86a"
service.ranking=I"0"
.8\nenhancer.engines.linking.suggestions=I"3"
enhancer.engines.linking.properNounsState=B"true"
enhancer.engines.linking.typeField="rdf:type"
enhancer.engines.linking.entityhub.siteId="dbpedia"
enhancer.engines.linking.minSearchTokenLength=I"3"
enhancer.engines.linking.caseSensitive=B"true"
