factory.pid="org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine"
factory.pidList=["org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.0eec20ed-761c-4160-8d13-6e6600ffa6bc","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.54fda72d-7f5e-44d0-890d-ba423c3bb803","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.99fd1493-0581-4686-b62c-c4aed88a6eb8","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.3f3f271b-30d3-4bfe-8d2b-7e60257e8700","org.apache.stanbol.enhancer.engines.entityhublinking.EntityhubLinkingEngine.f1d370fa-234b-4f86-bcc0-410e89e7d86a"]
