service.pid="org.apache.stanbol.entityhub.core.site.CacheImpl.0619de13-548c-4a12-9da2-5293c0809721"
org.apache.stanbol.entityhub.yard.name="km\ Cache"
org.apache.stanbol.entityhub.yard.cacheYardId="kmIndex"
service.factoryPid="org.apache.stanbol.entityhub.core.site.CacheImpl"
org.apache.stanbol.entityhub.yard.id="kmIndex"
org.apache.stanbol.entityhub.yard.description="Cache\ for\ the\ km\ Referenced\ Site\ using\ the\ kmIndex."
