stanbol.enhancer.chain.weighted.chain=["tika;optional","metaxa;optional","langdetect","dbpspotlightannotate"]
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.220a6628-2cac-4932-950f-f078be4fdcc7"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="dbpedia-spotlight"
