stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-chunker","dbpedia-disamb-linking","disambiguation-mlt","dbpedia-dereference"]
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b21d6267-1830-4ddc-9f77-71fbd7d1c5e9"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="dbpedia-disambiguation"
