stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect"]
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b63bfb40-aee1-4150-8a7b-72493df21ebe"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="language"
