stanbol.enhancer.chain.weighted.chain=["tika;optional","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","dbpediaLinking","entityhubExtraction","dbpedia-dereference"]
service.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.bf7c17ee-c98c-4cb7-aa9f-47e24f730534"
service.ranking=I"-2147483648"
service.factoryPid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
stanbol.enhancer.chain.name="default"
