factory.pid="org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain"
factory.pidList=["org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b63bfb40-aee1-4150-8a7b-72493df21ebe","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b21d6267-1830-4ddc-9f77-71fbd7d1c5e9","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.084ac216-530f-40e5-b2c7-9260790e6ddd","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.220a6628-2cac-4932-950f-f078be4fdcc7","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.bf7c17ee-c98c-4cb7-aa9f-47e24f730534","org.apache.stanbol.enhancer.chain.weighted.impl.WeightedChain.b06788c8-4692-4084-b35b-0e413e9f3aef"]
