service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71.d7004e69-97fa-47e8-a3b3-53142bf23014"
stanbol.enhancer.chain.chainproperties=[""]
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71"
stanbol.enhancer.chain.name="undo+dbpedia-fst-linking"
stanbol.enhancer.chain.list.enginelist=["tika","langdetect","opennlp-sentence","opennlp-token","opennlp-pos","opennlp-ner","undo-km","dbpedia-fst","dbpedia-dereference"]
