factory.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71"
factory.pidList=["org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.7903cd71.d7004e69-97fa-47e8-a3b3-53142bf23014"]
