factory.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.d52e484d"
factory.pidList=["org.apache.stanbol.enhancer.chain.list.impl.ListChain.org.apache.stanbol.enhancer.chain.list.impl.ListChain.d52e484d.66019d6b-89c1-4b86-83cb-a234641e96f9"]
