org.apache.stanbol.entityhub.yard.solr.useDefaultConfig=B"false"
service.factoryPid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard"
org.apache.stanbol.entityhub.yard.description="Local\ index\ for\ the\ Referenced\ Site\ \"dbpedia\"."
org.apache.stanbol.entityhub.yard.solr.solrUri="dbpedia"
service.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.87e39c67-7e82-424e-b341-960c689a1cfc"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout=B"false"
org.apache.stanbol.entityhub.yard.id="dbpediaIndex"
org.apache.stanbol.entityhub.yard.name="dbpedia\ default\ data\ index"
org.apache.stanbol.entityhub.yard.solr.documentBoost="http://www.iks-project.eu/ontology/rick/model/entityRank"
