org.apache.stanbol.entityhub.yard.solr.useDefaultConfig=B"false"
service.factoryPid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard"
org.apache.stanbol.entityhub.yard.description="Full\ local\ index\ for\ the\ Referenced\ Site\ \"km\"."
http://stanbol.apache.org/ontology/entityhub/entityhub#entityRank="http://stanbol.apache.org/ontology/entityhub/entityhub#entityRank"
org.apache.stanbol.entityhub.yard.solr.solrUri="km"
service.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.e7a17313-320a-4ca6-b706-622fcc632359"
org.apache.stanbol.entityhub.yard.solr.multiYardIndexLayout=B"false"
org.apache.stanbol.entityhub.yard.id="kmIndex"
org.apache.stanbol.entityhub.yard.name="km\ Index"
