factory.pid="org.apache.stanbol.entityhub.yard.solr.impl.SolrYard"
factory.pidList=["org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.e7a17313-320a-4ca6-b706-622fcc632359","org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.87e39c67-7e82-424e-b341-960c689a1cfc","org.apache.stanbol.entityhub.yard.solr.impl.SolrYard.1e50ab89-aa3d-4a54-94a0-a840c9cea244"]
