enhancer.engine.linking.labeltokenizer.lucene.charFilterFactory=""
service.pid="org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.3fc0e4da-220a-498e-92d4-2de9b4c1c74e"
service.ranking=I"100"
enhancer.engines.entitylinking.labeltokenizer.languages=["ja"]
service.factoryPid="org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer"
enhancer.engine.linking.labeltokenizer.lucene.tokenizerFactory="org.apache.lucene.analysis.ja.JapaneseTokenizerFactory"
