enhancer.engine.linking.labeltokenizer.lucene.charFilterFactory=""
service.pid="org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.8073c15c-206a-4f1a-a658-1e9e5870c310"
service.ranking=I"100"
enhancer.engines.entitylinking.labeltokenizer.languages=["zh"]
service.factoryPid="org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer"
enhancer.engine.linking.labeltokenizer.lucene.tokenizerFactory="org.apache.lucene.analysis.cn.smart.SmartChineseSentenceTokenizerFactory"
enhancer.engine.linking.labeltokenizer.lucene.tokenFilterFactory=["org.apache.lucene.analysis.cn.smart.SmartChineseWordTokenFilterFactory"]
