factory.pid="org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer"
factory.pidList=["org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.3fc0e4da-220a-498e-92d4-2de9b4c1c74e","org.apache.stanbol.enhancer.engines.entitylinking.labeltokenizer.lucene.LuceneLabelTokenizer.8073c15c-206a-4f1a-a658-1e9e5870c310"]
